<form class="container text-center">
  <h1>Registro de alumnos</h1>

  <hr />

  <div class="mb-3">
    <label class="form-label">Nombre:</label><br />
    <input type="text" placeholder="Agrega el nombre aquí" />
  </div>

  <div class="mb-3">
    <label class="form-label">Apellido:</label><br />
    <input type="text" placeholder="Agrega el Apellido aquí" />
  </div>

  <div class="mb-3">
    <label class="form-label">Edad:</label><br />
    <input type="text" placeholder="Agrega la edad aquí" />
  </div>

  <div class="mb-3">
    <label class="form-label">Sexo:</label><br />
    <input type="text" placeholder="Agrega el sexo aquí" />
  </div>

  <div class="mb-3">
    <label class="form-label">Clase:</label><br />
    <input type="text" placeholder="Agrega la clase aquí" />
  </div>

  <input type="submit" class="btn btn-danger" value="Guardar" />
</form>
