<div class="container">
  <div class="alert alert-success mt-3" *ngIf="status == 'success'">
    estudiante registrado con exito.
  </div>

  <div class="alert alert-danger mt-3" *ngIf="status == 'failed'">
    no se ha podido registrar el alumno.
  </div>

  <form #estudiantesForm="ngForm" (ngSubmit)="onSubmit(estudiantesForm)">
    <h1 class="mt-2">{{ title }}</h1>
    <hr />
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>&nbsp;
      <input
        type="text"
        name="nombre"
        #nombre="ngModel"
        [(ngModel)]="estudiantes.nombre"
        placeholder="Agrega el nombre aquí"
        required
      />
      <span *ngIf="nombre.touched && !nombre.valid" class="text-danger">
        El campo nombre debe ser rellenado.
      </span>
    </div>

    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido:</label>&nbsp;
      <input
        type="text"
        name="apellido"
        #apellido="ngModel"
        [(ngModel)]="estudiantes.apellido"
        placeholder="Agrega el Apellido aquí"
        required
      />
      <span *ngIf="apellido.touched && !apellido.valid">
        El campo apellido debe ser rellenado.
      </span>
    </div>

    <div class="mb-3">
      <label for="edad" class="form-label">Edad:</label>&nbsp;
      <input
        type="number"
        name="edad"
        #edad="ngModel"
        [(ngModel)]="estudiantes.edad"
        placeholder="Agrega la edad aquí"
        required
      />
      <span *ngIf="edad.touched && !edad.valid">
        El campo edad debe ser rellenado.
      </span>
    </div>

    <div class="mb-3">
      <label for="sexo" class="form-label">Sexo:</label>&nbsp;
      <input
        type="text"
        name="sexo"
        #sexo="ngModel"
        [(ngModel)]="estudiantes.sexo"
        placeholder="Agrega el sexo aquí"
        required
      />
      <span *ngIf="sexo.touched && !sexo.valid">
        El campo de nombre debe ser rellenado.
      </span>
    </div>

    <div class="mb-3">
      <label for="clase" class="form-label">Clase:</label>&nbsp;
      <input
        type="text"
        name="clase"
        #clase="ngModel"
        [(ngModel)]="estudiantes.clase"
        placeholder="Agrega la clase aquí"
        required
      />
      <span *ngIf="clase.touched && !clase.valid">
        El campo de clase debe ser rellenado.
      </span>
    </div>

    <div class="mb-3">
      <label for="imagen" class="form-label">Imagen de perfil del alumno</label
      >&nbsp;
      <input
        type="file"
        name="image"
        #image="ngModel"
        [(ngModel)]="estudiantes.image"
        placeholder="Agrega la imagen del alumno aquí"
        required
      />
      <span *ngIf="image.touched && !image.valid">
        La imagen del alumno debe ser rellenado.
      </span>
    </div>

    <input type="submit" class="btn btn-success" value="Guardar" />

    <!-- [disabled]="!estudiantesForm.form.valid" -->
  </form>
</div>
